a, p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.primary-button {
  transition: background-color 0.3s;
  text-decoration: none;
  background-color: #37A000;
  color: white;
  padding: 7px 18px 6px;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
.primary-button:hover {
  background-color: #017701;
}

.secondary-button {
  background-color: white;
  color: #37A000;
  padding: 7px 18px 6px;
  border-radius: 2px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.secondary-button:hover {
  color: #017701;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}

header {
  width: 100%;
  color: #fff;
}
header .navbar {
  padding: 20px 0;
  border-bottom: 1px solid gainsboro;
}
header .navbar .inner-navbar {
  position: relative;
  margin-left: 174.6px;
  margin-right: 174.6px;
  text-align: right;
  display: flex;
  flex-direction: row;
}
header .navbar .inner-navbar .left-bar {
  position: relative;
  width: 10%;
}
header .navbar .inner-navbar .left-bar img {
  position: absolute;
  max-width: 106px;
  max-height: 30px;
  left: 0;
}
header .navbar .inner-navbar .right-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}
header .navbar .inner-navbar .right-bar .spacing {
  flex-grow: 1;
}
header .navbar .inner-navbar .right-bar .search-container {
  width: 321px;
}
header .navbar .inner-navbar .right-bar .search-container input {
  width: 100%;
  padding: 7px 13px;
  border: 1px solid gainsboro;
  color: gray;
}
header .navbar .inner-navbar .right-bar .search-container input:hover {
  border: 1px solid grey;
}
header .navbar .inner-navbar .right-bar .navigation-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #666666;
  padding-right: 20px;
}
header .navbar .inner-navbar .right-bar .navigation-links a:hover {
  color: #37A000;
}
header .additional-links {
  background-color: #f9f9f9;
  width: 100%;
}
header .additional-links .test {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
header .additional-links .test a {
  text-decoration: none;
  color: #222;
  font-size: 15px;
  padding: 10px 0;
}

footer {
  background-color: #1d4354;
  padding-bottom: 20px;
  justify-content: center;
}
footer .footer-top {
  padding: 5px;
}
footer .footer-top .footer-esential {
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  text-align: center;
}
footer .footer-top .footer-esential p {
  color: rgba(255, 255, 255, 0.76);
}
footer .footer-top .footer-esential p a {
  color: rgba(255, 255, 255, 0.76);
}
footer .footer-body .footer-body-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .footer-body .footer-body-lists .footer-body-lists-item {
  display: flex;
  flex-direction: column;
}
footer .footer-body .footer-body-lists .footer-body-lists-item h4 {
  color: white;
  text-transform: uppercase;
  margin: 4px 0;
  padding: 10px 0;
}
footer .footer-body .footer-body-lists .footer-body-lists-item a {
  color: rgba(255, 255, 255, 0.815);
  text-decoration: none;
  padding-top: 10px;
}
footer .footer-body .footer-body-lists .footer-body-lists-item a:hover {
  text-decoration: underline;
}
footer .footer-bootom {
  text-align: center;
}
footer .footer-bootom p {
  color: white;
  padding: 20px 0;
}

.banner-top {
  position: relative;
}
.banner-top .background-image {
  background-position-x: center;
}
.banner-top .banner-content {
  padding: 50px 0;
}
.banner-top .banner-content .banner-inner-container {
  max-width: 480px;
}
.banner-top .banner-content .banner-inner-container h2 {
  margin: 0;
  font-size: 52px;
  color: #6fda44;
}
.banner-top .banner-content .banner-inner-container h2:nth-child(2) {
  color: white;
}
.banner-top .banner-content .banner-inner-container p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
}
.banner-top .banner-content .banner-inner-container .btn-container {
  margin-top: 50px;
}
.banner-top .banner-content .banner-inner-container .btn-container a {
  font-size: 16px;
  padding: 11px 28px;
}
.banner-top .banner-content .banner-inner-container .btn-container a:first-child {
  margin-right: 10px;
}
.banner-top .banner-content .banner-inner-container .btn-container a:last-child {
  margin-left: 5px;
}

.find-talent-agencies {
  padding: 20px 0;
  background-color: #f9f9f9;
}
.find-talent-agencies .find-talent-agencies-container .find-talent-agencies-container-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.find-talent-agencies .find-talent-agencies-container .find-talent-agencies-container-list a {
  margin-right: 30px;
  width: calc(25% - 30px);
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
  color: black;
  font-size: 16px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}
.find-talent-agencies .find-talent-agencies-container .find-talent-agencies-container-list a img {
  width: 100%;
}
.find-talent-agencies .find-talent-agencies-container p {
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
}
.find-talent-agencies .find-talent-agencies-container p a {
  text-decoration: none;
  color: #37A000;
}

.background-container {
  background-color: white;
}
.background-container .trusted-buisnis-container {
  padding: 15px 0 25px;
}
.background-container .trusted-buisnis-container h4 {
  text-align: center;
  font-size: 19px;
}
.background-container .trusted-buisnis-container .trusted-buisnis-img-container {
  display: flex;
  justify-content: space-around;
}

.blank-container-gray {
  background-color: #f9f9f9;
  padding: 20px 0;
}
.blank-container-gray .blank-width-container {
  display: flex;
  flex-direction: row;
}
.blank-container-gray .blank-width-container .left-container {
  width: 25%;
  padding-top: 80px;
  padding-left: 50px;
  font-size: 19px;
}
.blank-container-gray .blank-width-container .right-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  border: 1px solid rgba(128, 128, 128, 0.171);
  background-color: white;
  padding: 20px 30px;
  margin: 30px 15px;
}
.blank-container-gray .blank-width-container .right-container .blank-container {
  width: 250.83px;
  margin: 20px 10px;
  padding: 15 10px 25px;
  border-right: 1px solid rgba(128, 128, 128, 0.171);
  justify-items: flex-end;
}
.blank-container-gray .blank-width-container .right-container .blank-container:last-child {
  border-right: none;
}
.blank-container-gray .blank-width-container .right-container .blank-container .green-cont {
  width: 31px;
  height: 7px;
  background-color: #5bbc2e;
  margin: 0;
}
.blank-container-gray .blank-width-container .right-container .blank-container h3 {
  padding: 0;
  margin: 10px 0;
}
.blank-container-gray .blank-width-container .right-container .blank-container p {
  font-size: 15px;
  padding: 0;
}

.how-it-work-white {
  background-color: white;
  margin: 50px 0;
}
.how-it-work-white .how-it-work-size {
  text-align: center;
}
.how-it-work-white .how-it-work-size .text-how-it-work {
  display: flex;
  justify-content: center;
}
.how-it-work-white .how-it-work-size .text-how-it-work h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
.how-it-work-white .how-it-work-size .img-how-it-work {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
.how-it-work-white .how-it-work-size .img-how-it-work .image-text-container {
  display: flex;
  flex-direction: column;
}
.how-it-work-white .how-it-work-size .img-how-it-work .image-text-container h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin: 20px 0 0;
  color: rgba(0, 0, 0, 0.644);
}
.how-it-work-white .how-it-work-size .img-how-it-work .image-text-container p {
  font-size: 15px;
  text-align: center;
  padding: 0 5px;
  width: 262.5px;
}
.how-it-work-white .how-it-work-size .img-how-it-work .image-text-container .img-container img {
  width: 111.54px;
}

.blank-choose-offering-work-gray {
  background-color: #f9f9f9;
  padding-bottom: 60px;
}
.blank-choose-offering-work-gray .blank-width-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.blank-choose-offering-work-gray .blank-width-container .notes {
  padding-top: 20px;
}
.blank-choose-offering-work-gray .blank-width-container .notes p {
  text-align: left;
  font-size: 13px;
  margin: 2px 0;
}
.blank-choose-offering-work-gray .blank-width-container .text-choose-ofers-work {
  padding: 30px;
}
.blank-choose-offering-work-gray .blank-width-container .text-choose-ofers-work h2 {
  font-size: 35px;
  margin: 10px 0;
}
.blank-choose-offering-work-gray .blank-width-container .text-choose-ofers-work p {
  font-size: 13px;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border {
  display: flex;
  flex-direction: row;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.26);
  box-shadow: 1px 1px 6px gainsboro;
  margin: 0 15px;
  width: calc(25% - 30px);
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .top-container {
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  padding: 20px 5px;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .top-container .btn-container {
  padding: 20px 0;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .top-container .btn-container a {
  padding: 11px 28px;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .top-container p {
  font-size: 14px;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .top-container p span {
  font-weight: bold;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .bottom-container {
  padding-bottom: 20px;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .bottom-container p {
  font-size: 14px;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .bottom-container p span {
  font-weight: bold;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .bottom-container ul li {
  text-align: left;
  padding: 7px 25px;
}
.blank-choose-offering-work-gray .blank-width-container .blank-border .blank-border-container .bottom-container a {
  text-decoration: none;
  color: #37A000;
}

.blank-customers-rate .width-container-customer-rate {
  padding: 20px 0;
}
.blank-customers-rate .width-container-customer-rate .content-container a {
  text-decoration: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.blank-customers-rate .width-container-customer-rate .content-container a h3 {
  color: #7f7f7f;
  font-size: 17px;
  padding-top: 6px;
}
.blank-customers-rate .width-container-customer-rate .content-container a h3 span {
  color: black;
  padding-right: 15px;
  padding-right: 15PX;
}
.blank-customers-rate .width-container-customer-rate .content-container a h4 {
  padding-top: 6px;
  font-size: 14px;
  padding-right: 15px;
  color: #d5763d;
}
.blank-customers-rate .width-container-customer-rate .content-container a h4 span {
  color: black;
}
.blank-customers-rate .width-container-customer-rate .content-container a img {
  padding-right: 15px;
}

.blank-top-skills-container {
  padding: 20px 0;
}
.blank-top-skills-container .width-top-skills-container .text-container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0 0 30px;
}
.blank-top-skills-container .width-top-skills-container .skills-content .border-box .text-skills-border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blank-top-skills-container .width-top-skills-container .skills-content .border-box .text-skills-border .text-skills {
  display: flex;
  flex-direction: column;
}
.blank-top-skills-container .width-top-skills-container .skills-content .border-box .text-skills-border .text-skills a {
  font-weight: 400px;
  color: #222;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 0 15px;
  padding: 0 15px;
}
.blank-top-skills-container .width-top-skills-container .skills-content .border-box .text-skills-border .text-skills a:hover {
  text-decoration: underline;
  color: green;
}

.blank-trening-skils-container {
  padding: 20px 0;
}
.blank-trening-skils-container .width-blank-container .text-container h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0 0 30px;
}
.blank-trening-skils-container .width-blank-container .blank-border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blank-trening-skils-container .width-blank-container .blank-border .blank-text-container {
  display: flex;
  flex-direction: column;
}
.blank-trening-skils-container .width-blank-container .blank-border .blank-text-container a {
  font-weight: 400px;
  color: #222;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 0 15px;
  padding: 0 15px;
}
.blank-trening-skils-container .width-blank-container .blank-border .blank-text-container a:hover {
  text-decoration: underline;
  color: green;
}

.blank-work-enterprise {
  padding: 20px 0;
}
.blank-work-enterprise .width-container {
  position: relative;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 6px gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.blank-work-enterprise .width-container .text-box {
  width: 70%;
  text-align: left;
  padding: 40px 0;
}
.blank-work-enterprise .width-container .text-box h4 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #37A000;
  margin: 2px;
}
.blank-work-enterprise .width-container .text-box h2 {
  color: #1d4354;
  font-size: 32px;
  margin: 0;
}
.blank-work-enterprise .width-container .btn {
  height: -50;
  transform: translateY(35%);
}
.blank-work-enterprise .width-container .btn .primary-button {
  padding: 11px 28px;
  text-align: center;
  display: flex;
}
.blank-work-enterprise .width-container .btn .primary-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 2px solid transparent;
  color: white;
}

/*# sourceMappingURL=main.css.map */
